<h1>Tasks</h1>

<p *ngIf="!tasks"><em>Loading...</em></p>

<div  class="col-sm-9">
    <div>
        <button type="submit" class="btn" [class.btn-success]="isSelected(FilterAll)" (click)="onFilter(FilterAll);">{{FilterAll}}</button>
        <button type="submit" class="btn" [class.btn-success]="isSelected(FilterActive)" (click)="onFilter(FilterActive);">{{FilterActive}}</button>
        <button type="submit" class="btn" [class.btn-success]="isSelected(FilterCompleted)" (click)="onFilter(FilterCompleted);">{{FilterCompleted}}</button>
    </div>
    <grid [tasks]="tasks" [initialTaskId]="initialTaskId" (onOrderChange)="onOrderChange()" (onTaskSelected)="onClickTask($event)" (onTaskComplete)="onComplete($event)" (onTaskRemove)="onRemove($event)"></grid>
    <taskdetails [task]="selectedTask"></taskdetails>
</div>